# Ignore any file extensions that used to open Minecraft app
*.mcaddon
*.mcpack
*.mcworld
*.mcperf
*.mcshortcut
*.mctemplate

# Don't ignore .mcaddon in build directory
!build/*.mcaddon

# Ignore the developer directory
developer

# Don't upload cache folder thanks
tests/bin
build/compile
build/behavior_pack
build/resource_pack
node_modules 